body {
    background:url("/assets/images/422613_10151287926565181_1369730289_n.jpg");
text-align: center;

}
#main-container{
color: black;
}

#forecast-container {
background-color: chocolate;
color: darkgreen;
}

#daily-container{
background-color: darkorchid;
}