header{
font-weight: bolder;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
background-color:indigo;
font-weight:bolder;

text-align: center;

}

button {
    background-color:black;
    border-radius: 13px;
    color: white;
}
#main-container{
color: black;
}

#forecast-container {
background-color: chocolate;
color: darkgreen;
}

#daily-container{
background-color: darkorchid;
}